{% extends "FormLayout.html" %}

{% block Form %}

<div class="container bg-white mt-3 rounded-lg" >
      <div class="row" >
        <div class="col-12 col-md-8 offset-md-2">
          <form action="{{url_for('users.ChangePassword')}}" class="form" method="post">
            <legend class="text-center text-info" style="font-size: 180%; font-weight: 'bold';"  >Change Password:</legend>
            {{ form.csrf_token }}
            
            <div class="form-group mt-3" >
           	{{form.currentPassword.label()}}
            {{form.currentPassword(class="form-control",placeholder="Enter Current Password")}}
            </div>

            <div class="form-group mt-3" >
           	{{form.newPassword.label()}}
            {{form.newPassword(class="form-control",placeholder="Enter new Password")}}
            </div>

            <div class="form-group mt-3" >
           	{{form.reEnterPassword.label()}}
            {{form.reEnterPassword(class="form-control",placeholder="Re-enter new Password")}}
            </div>
           
            <div class="form-group mt-3 text-danger" >
              {% with messages=get_flashed_messages() %}
                {% if messages %}
                  {% for message in messages %}
                    <small>{{message}}</small>
                  {% endfor %}
                {% endif %}
              {% endwith %}
            </div>
            
            <div class="form-group mt-3 ">
            {{form.Submit(class="btn btn-primary btn-lg")}}
            <a class="btn btn-dark btn-lg" href="{{url_for('users.mainpage')}}">Cancel</a>
            </div>
            
          </form>
        </div>
      </div>
    </div>
 	

{% endblock Form %}