{% extends "twelveRowLayout.html" %}

{% block mainSection %}
<div class="container">
	<div class="row" >
		<div class="col-8 bg-white rounded-lg p-4 my-4" style="font-size: 150%;">
			<p>
				CBIT Stack-Overflow is a question-and-answer site for the students, by the students. Through this website, we intend to help students to freely ask questions and get answers. It wastes a lot of time to wait for the next class or the next time that a particular teacher is free. Some of us are too shy to ask questions from our peers but many of us have the same query. Well, not to worry because via this website, we will be providing the students with a platform where they can anonymously ask any question of any category and get answers. The answers to their questions will be answered by their fellow batchmates, their peers, their seniors or even their faculty as this website is open to all. The answer to all your queries - CBIT Stack-Overflow.
			</p>			
		</div>
	</div>
</div>
{% endblock mainSection %}