{% extends "twelveRowLayout.html" %}

{% block mainSection %}
	<div class="container p-4 rounded bg-white">

		<div class="profileCard card">
		
			<div class="row">
				<div class="media col-12">
					<img class="profile rounded-circle" src="{{url_for('static',filename='profile/temp_pic.jpg')}}" alt="profile">
					<div class="media-body row mt-3 ml-4">
						
						<div class="column">
							<h6><strong>Yasaswini</strong></h6>
							<p>Student</p>
							<p>Year - 3</p>
							
						</div>
						<div class="column">
							<p>yasaswini@gmail.com</p>
							
							<p>CSE</p>
							
							
						</div>
					
					</div>

				</div>
			</div>
			<div class="ml-4 mt-3">
				<p><strong>About</strong></p>
      			 <p>Student @CBIT</p>
				
			</div>
			<hr/>

			<div class="row mt-2 ml-2">

				<div class="column">
					
					<a href="{{url_for('users.questionAsked')}}">Questions asked</a>
				
				</div>

				<div class="column">
					<a href="">Tags following</a>
					
				</div>
				
			</div>

		</div>


	</div>

{% endblock mainSection %}
